*{
  margin: 0px;
  padding: 0px;
}

h1{
  margin: auto;
  display: inline-block;
  font-family: "Comic Sans MS", sans-serif;
}

h2{
  display: inline-block;
  float: right;
  font-family: "Arial", sans-serif;
}

p{
  font-size: 13px;
  font-family: sans-serif;
}

a{
  font-style: italic;
  color: gray;
}

#container{
  width: 1200px;
  height: 1100px;
}

#head{
  padding: 5px;
  vertical-align: middle;
}

#main{
  background: #d3abd0;
  background: -moz-radial-gradient(center, ellipse cover, #d3abd0 0%, #56274f 60%, #3f2143 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #d3abd0 0%,#56274f 60%,#3f2143 100%);
  background: radial-gradient(ellipse at center, #d3abd0 0%,#56274f 60%,#3f2143 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3abd0', endColorstr='#3f2143',GradientType=1 );
  height: auto;
  padding: 10px;
  font-family: sans-serif;
}

#photo_me{
  width: 300px;
  border-color: gray;
  border: 5px gray solid;
  vertical-align: top;
  /*margin: 5px;*/
  display: inline-block;
}


.header{
  background: #596a72;
  background: -moz-radial-gradient(center, ellipse cover, #596a72 0%, #cedce7 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #596a72 0%,#cedce7 100%);
  background: radial-gradient(ellipse at center, #596a72 0%,#cedce7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=1 );
  color: white;
  width: inherit;
  padding: 5px;
}

.content{
  /*background-color: white;*/
  width: 250px;
  background: rgb(228,190,229);
  background: -moz-linear-gradient(-45deg, rgba(228,190,229,1) 100%, rgba(200,94,199,1) 100%, rgba(168,73,163,1) 100%, rgba(200,94,199,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(228,190,229,1) 100%,rgba(200,94,199,1) 100%,rgba(168,73,163,1) 100%,rgba(200,94,199,1) 100%);
  background: linear-gradient(135deg, rgba(228,190,229,1) 100%,rgba(200,94,199,1) 100%,rgba(168,73,163,1) 100%,rgba(200,94,199,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4bee5', endColorstr='#c85ec7',GradientType=1 );
  display: inline-block;
  height: auto;
  padding: 0 0 5 0;  /*on the bottom only*/
}

#box6, #box7, #box8 > .content{
  padding: 0 0 15px 0;
}

.content_text{
  height: 160px;
  width: 230px;
  padding: 10px;
}

.content_img{
  width: inherit;
  display: inline-block;
  padding: 0px;
}

#box1, #box2{
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  height: auto;
}

#box2> .content { /* This overrides more general .content*/
  width: 400px;
  padding: 5px;
}

#box2> .header{ /* This overrides more general .header*/
  width: 400px;
}

#box3, #box4, #box5{
  display: inline-block;
  vertical-align: top;
  margin: 5px 5px 0px 5px;
  /*height: 400px; if you set this, lots of space below these boxes*/
}


#box6, #box7, #box8{
  display: inline-block;
  vertical-align: top;
  margin: 0px 5px 5px 5px;
}


.icons{
  width: 210px;
  padding: 10px 0px ;
  margin: auto;
}

.icon{
  width: 32px;
  margin: 3px;
}

.button_text{
  border: 1px solid black;
  box-shadow: 5px 5px 10px gray;  /*the last # is blur specification*/
  background-color: rgb(43, 82, 51);
  color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: 10px;
  margin: auto; /*centers the button */
  display: table; /*shrinks the size of box to text size & centers box*/
}

#footer{
  text-align: center;
  height: auto;
  padding: 5px;
}

nav> a> img{
  width: 15px;
  vertical-align: bottom;
}
