<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylesheet.css')}}">
    <title>Ninja page</title>
  </head>
  <body>
    <h1>About ninjas</h1>
    <img src="{{url_for('static', filename='img/ninja.png')}}" alt="ninja">
    <p>A ninja or shinobi was a covert agent or mercenary in feudal Japan. The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare.
</p>
  </body>
</html>
