<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ninja Money</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
  <div id="container">
    <div id="top">
      <form class="" action="/process_money" method="post">
        <label for="gold_counter">Your Gold:</label>
        <input type="text" name="gold_counter" value="{{ session['gold_counter'] }}">
      </form> <!-- end gold_counter form -->
    </div> <!-- end top -->

    <div id="middle">
      <div class="box">
        <h3>Farm</h3>
        <p>(earn 10-20 golds)</p>
        <form action="/process_money" method="post">
          <input type="hidden" name="building" value="farm" />
          <input class='gold_button' type="submit" value="Find Gold!"/>
        </form> <!-- end Farm form -->
      </div> <!-- end Farm box -->

      <div class="box">
        <h3>Cave</h3>
        <p>(earn 5-10 golds)</p>
        <form action="/process_money" method="post">
          <input type="hidden" name="building" value="cave" />
          <input class='gold_button' type="submit" value="Find Gold!"/>
        </form> <!-- end Cave form -->
      </div> <!-- end Cave box -->

      <div class="box">
        <h3>House</h3>
        <p>(earn 2-5 golds)</p>
        <form action="/process_money" method="post">
          <input type="hidden" name="building" value="house" />
          <input class='gold_button' type="submit" value="Find Gold!"/>
        </form> <!-- end House form -->
      </div> <!-- end House box -->

      <div class="box">
        <h3>Casino</h3>
        <p>(earns/takes 0-50 golds)</p>
        <form action="/process_money" method="post">
          <input type="hidden" name="building" value="casino" />
          <input class='gold_button' type="submit" value="Find Gold!"/>
        </form> <!-- end Casino form -->
      </div> <!-- end Casino box -->
    </div> <!-- end middle -->

    <div id="bottom">
      <p>Activities:</p>
        {% for each in session['message'] %}
          {% if 'lost' in each %}
            <p id='loss'>{{ each }}</p>
          {% else %}
            <p id='gain'>{{ each }}</p>
          {% endif %}
        {% endfor %}
      <form class="" action="/reset" method="post">
        <input id='reset_button' type="submit" name="reset" value="Play again">
      </form>
    </div> <!-- end bottom -->
  </div> <!-- end container -->
</body>
</html>
