*{
  padding: 0;
  margin: 0;
}

body{
  margin: 5px;
  padding: 5px; 
}

#success_box{
  width: 500px;
  height: 150px;
  background-color: green;
  border: 3px solid black;
  border-radius: 5px;
  margin: auto 10;
  padding: 5px;
}

#failure_box{
  width: 500px;
  height: 300px;
  background-color: red;
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px;
}
