<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Portfolio</title>
  </head>
  <body>
    <h1>Hi, I'm Jenny!</h1>
    <h2>Welcome to My Portfolio</h2>
    <div class="">
      <a href="{% url 'projects' %}">Projects</a>
      <p>I have a variety of projects of both personal and contract. They are built using Python, Swift, and JavaSacript.</p>
      <a href="{% url 'about' %}">About Me</a>
      <p>A little about my background and why I do what I do.</p>
      <a href="{% url 'testimonials' %}">Testimonials</a>
      <p>What my clients and mentors have to say about my projects and work ethic.</p>
    </div>
  </body>
</html>
