*{
  margin: 0;
  padding: 0;
}

#container{
  background: linear-gradient(#1e405d, #3776ab);
  width: 970px;
  height: auto;
  font-family: sans-serif;
}

#header{
  padding-top: 5px;
}

#header p{
  color: white;
}

#header a{
  color: #ffd343;
}

#text_size{
  text-align: right;
  margin: 5px;
  font-size: 9pt;
}

img{
  width: 200px;
  padding-left: 15px;
  padding-bottom: 15px;
  display: inline-block;
}

#search_border{
  height: 25px;
  width: auto;
  background-color: #1e2933;
  float: right;
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
}

#search_box{
  float: right;
  width: auto;
  margin: auto;
  display: table-cell;
}

#search{
  -webkit-appearance: textfield;
  padding: 5px;
  text-align: center;
  color: lightgray;
  margin: 0 auto;
}

#go{
  background-color: #2c5f8a;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin: 0 auto;
}

#nav_bar{
  background-color: #3776ab;
  box-shadow: 4px 4px 5px black;
  border-radius: 5px;
  margin: 0 auto;
  padding: 3px 5px;
  width: 550px;
  height: 30px;
  line-height: 30px; /*this will align text to vertical center*/
  word-spacing: 15px;
  color: white;
  text-align: center;
}

.yellow_bullet{
  color: #ffd343;
  font-size: 9px;
  /*display: block;*/
}

#left_bar li{
  list-style-type: none; /*remove bullets*/
}

#left_bar a{
  color: white;
}

#left_bar{
  height: auto;
  width: 200px;
  margin: 5px auto;
  display: inline-block;
  padding: 20px;
  list-style: inside;
  line-height: 30px;
}

#main_blue{
  text-align: center;
  font-family: sans-serif;
}

#meat_blue{
  display: inline-block;
  width: 500px;
  margin: 5px auto;
  vertical-align: top;
  padding: 10px;
}

h4{
  color: #ffd343;
  font-style: italic;
  line-height: 30px;
}

h5{
  color: white;
}

#meat_blue p{
  color: white;
}

.strip_blue{
  height: 5px;
  width: inherit;
  background-color: #75a8d3;
  margin: 5px;
}

#main_white{
  background-color: white;
  padding: 5px 15px 5px 25px;
}

.box_white{
  padding: 10px;
  display: inline-block;
  width: 405px;
  text-align: center;
  margin: 0 auto;
  vertical-align: top;
}

.box_white p{
  color: black;
}

.box_white a{
  color: #6ea3d0;
;
}

.content{
  margin: 5px;
  line-height: 1.5;
}

.content ul{
  margin-left: 50px;
  /*padding-left: 10px;*/
}

#footer{
  text-align: center;
  padding: 35px 0 10px 0;
  color: #5989b1;
  background: linear-gradient(#1e405d, #3776ab);
}

#footer nav{
  list-style-type: none; /*removes bullets*/
  margin: 0;
  padding: 0;
}

#footer a{
  text-decoration: none; /*removes underlines from links*/
}

#footer li{
  display: inline; /*makes horizontal nav bar*/
  padding: 30px; /*creates spacing between list items*/
}

#footer a{
  color: #5989b1;
}
