<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Great Number Game</title>
</head>
<body>
  <h1>Welcome to the Great Number Game!</h1>
  <p>I am thinking of a number between 1 and 100.</p>
  <p>Take a wild guess!</p>

  {% if session['userGuess'] == session['randomNum'] %}
  <div class="square" id="correct">
    <h3>You're correct!</h3>
  </div>
  {% elif session['userGuess'] > session['randomNum'] %}
  <div class="square incorrect">
    <h3>Too high!</h3>
  </div>
  {% elif session['userGuess'] < session['randomNum'] %}
  <div class="square incorrect">
    <h3>Too low!</h3>
  </div>
  {% endif %}

  <form class="" action="/guess" method="post">
    <input type="text" name="number" value="">
    <input type="submit" name="submit" value="Submit">
  </form>

</body>
</html>
