*{
  margin: 0px;
  padding: 0px;
}

a{
  color: #00FFFF;
}

ul{
  padding-left: 20px;
}

.special{
  color: blue;
}

.rounded{
  border-radius: 20px;
  padding: 20px;
}

#container{
  width: 1000px;
  background-color: darkblue;
  margin: 0px auto;
  padding: 10px;
}

#header{
  /*height: 40px; if you don't set height, it'll auto-fit!*/
  background-color: red;
  color: white;
  width: 950px;
  /*vertical-align: middle;*/
  margin-bottom: 15px;
}

#main{
  width: 95%;
}

#nav{
  background-color: #008B8B;
  display: inline-block;
  vertical-align: top;
  padding: 15px;

}

#content{
  background-color: black;
  color: white;
  display: inline-block;
  width: 740px;
  vertical-align: top;
  padding: 15px;
  margin-left: 15px;
}


#bottom{
  background-color: gray;
  margin-top: 15px;
  color: #F0F8FF;
}
