*{
 margin: 0px;
 padding: 0px;
}

#wrapper{
 width: 950px;
 background-color: silver;
 padding: 15px;
 margin: 0px auto;
}

#header{
 height: 150px;
 background-color: green;
 margin-bottom: 15px;
}

#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 vertical-align: top;
 /*margin-right: 10px; this pushes main_content to next line*/
}

#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 display: inline-block;
 padding: 15px;
 margin-left: 15px; /*creates gray OUTSIDE element*/
}

.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin-right: 15px;
}

#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 margin-top: 15px;
 padding-right: 10px;
 /*margin-right: 55px;*/
}
